<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>mini E Com-contact</title>
</head>
<body>
    <div class="container">
        <div class="nav">
            <a href="../index.html">Home</a>
            <a href="./products.html">Products</a>
            <a href="./users.html">Users</a>
            <a href="./contact.html">Contact</a>
        </div>
    <div class="contact">
        <div class="contact-heading">
            <h2>Contact</h2>
            <p>Drop us a line and we'll be happy to get back to you Monday-Friday</p>
        </div>
        <div class="contact-inputs">
            <div class="fullname" style="display: flex;">
                <div class="fname">
                    <p>First Name</p>
                    <input type="text">
                </div>
                <div class="lname">
                    <p>Last Name</p>
                    <input type="text">
                </div>
            </div>
            <div class="email">
                <p>Email Address</p>
                <input type="text">
            </div>
            <div class="message">
                <p>Message</p>
                <textarea name="msg" id="msg" cols="30" rows="5" placeholder="Type your message here..."></textarea>
            </div>
            <div class="send-msg">
                <button>Send Message</button>
            </div>
        </div>
    </div>
</div>
    <script src="../script.js"></script>
</body>
</html>