<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>mini E Com-contact</title>
</head>
<body>
    <div class="container">
    <div class="nav">
        <a href="../index.html">Home</a>
        <a href="./products.html">Products</a>
        <a href="./users.html">Users</a>
        <a href="./contact.html">Contact</a>
    </div>
    <div class="products">
        <div class="left-product">
            <div class="left-nav-products">
                <h3>Electronics</h3>
                <h3>Jewellery</h3>
                <h3>MensWearing</h3>
                <h3>WomensWearing</h3>
            </div>
            <div class="left-img-products">
                
            </div>
        </div>
        <div class="right-product">
            
        </div>
    </div>
</div>
    <script src="../script.js"></script>
</body>
</html>