.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.box{
    border: 1px solid #eeebeb;
    font-size: 40px;
    padding: 10px 40px;
    text-shadow: 1px 1px 1px #3f3e3e,1px 2px 1px #0f0f0f;
    box-shadow: 2px 2px 2px 2px #d3d0d0;
}
.key-code{
    text-align: center;
    font-size: 40px;
    padding: 10px 20px;
    color: rgb(8, 134, 103);
    margin-top: 20px;
    margin-left: 30%;
    width: 100px;
    text-shadow: 1px 1px 1px #3f3e3e,1px 2px 1px #0f0f0f;
    box-shadow: 2px 2px 2px 2px #d3d0d0;
    border: 1px solid #eeebeb;
}
.key{
    color: rgb(8, 134, 103);
    font-size: 40px;
    text-shadow: 1px 1px 1px #3f3e3e,1px 2px 1px #0f0f0f;
}