div{
    min-width: 100px;
    min-height: 100px;
    padding: 30px;
    border: 1px solid #423344;
}
.parent{
    margin: auto;
}
.child{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
